body {
  margin: 0;
  background-color: #7C3072;
  background: radial-gradient(
    circle at center,
    #5c0d50 0%,
    #1a001a 60%,
    #000000 100%
  );
  color: #e0e0e0;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.logo {
  width: 150px;
  margin-bottom: 1rem;
  border-radius: 10px;
}

.container {
  text-align: center;
  max-width: 800px;
  min-height: 280px;
  padding: 2rem;
  border: 1px solid white;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(255, 77, 77, 0.3);  
  background: linear-gradient(120deg, #2D2E87 0%, rgb(94, 42, 132) 50%, #93278E 100%);}

p {
  background: linear-gradient(180deg, #ffb6ff 0%, #b86adf 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

h1 {
  font-size: 2.5rem;
  color: #ff4d4d;
  margin-bottom: 0.5rem;
}

.intro {
  font-size: 1.2rem;
  color: #bfbfbf;
  margin-bottom: 1.5rem;
}

.link {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  background-color: rgba(255, 255, 255, 0.07);
  font-weight: 900;
  font-size: 1rem;        
  cursor: pointer;
  color: #FDA8FF;
  text-decoration: none;
  border-radius: 10px;
  font-weight: 900;
  transition: background-color 0.3s ease, transform 0.1s ease;

}

.link:hover {
  background-color: rgb(138, 13, 151);
  border: 1px solid white;
}

.btn-miside {
  display: block; /* viola scuro */
  color: #F5A5F8; /* rosa chiaro */
  padding: 0.75rem 1.5rem;
  margin: 0.5rem 0;
  border: none;
  border-radius: 12px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 900;
  font-size: 1rem;
  text-align: left;
  cursor: pointer;
  box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.05),
              0 0 8px rgba(245, 165, 248, 0.2);
  transition: background 0.3s ease, transform 0.1s ease;
}

.btn-miside:hover {
  background-color: #3A2B6B;
  transform: scale(1.02);
}